
/* Home Features General
------------------------------------------------------------- */
.homeFeature {
  position: relative;
  width: 100%;
}
.homeFeature-img {
  width: 75%;
  max-width: 290px;
  margin: auto;
  margin-bottom: 5px;
}
.homeFeature-textWrapper {
  width: 100%;
  max-width: 420px;
  margin: auto;
}
.homeFeature-text {
  line-height: 1.6;
}
@media (min-width: 768px) {
  .homeFeature-img {
    position: relative;
    float: left;
    width: 45%;
    max-width: unset;
  }
  .homeFeature-textWrapper {
    position: relative;
    float: left;
    width: 55%;
    max-width: unset;
  }
}
@media (min-width: 992px) {
  .homeFeature-img {
    width: 48%;
  }
  .homeFeature-textWrapper {
    width: 52%;
  }
}
@media (min-width: 1200px) {
  .homeFeature-img {
    width: 48%;
  }
  .homeFeature-textWrapper {
    width: 52%;
  }
}


/* Home Features Specific
------------------------------------------------------------- */
.homeFeature.overview {
  background-color: #e1e1e1;
  padding-top: 15px;
  padding-bottom: 25px;
}
.homeFeature.easy {
  background-color: #4c4c4c;
  padding-top: 40px;
  padding-bottom: 70px;
}
.homeFeature.easy .homeFeature-heading {
  color: #fff;
}
.homeFeature.easy .homeFeature-img {
  margin-bottom: 0;
}
.homeFeature.easy .homeFeature-text {
  color: #dbdbdb;
}
.homeFeature.built-in {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 50px;
}
@media(min-width: 450px) {
  .homeFeature.overview {
    padding-top: 35px;
    padding-bottom: 40px;
  }
  .homeFeature.easy {
    padding-bottom: 100px;
  }
  .homeFeature.built-in {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}
@media(min-width: 768px) {
  .homeFeature.overview {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .homeFeature.easy {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .homeFeature.built-in {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .homeFeature-textWrapper {
    padding-left: 20px;
    padding-top: 30px;
  }
  .homeFeature.overview .homeFeature-img,
  .homeFeature.built-in .homeFeature-img {
    left: 55%;
  }
  .homeFeature.overview .homeFeature-textWrapper,
  .homeFeature.built-in .homeFeature-textWrapper {
    right: 45%;
    padding-left: 0;
    padding-right: 20px;
  }
}
@media(min-width: 992px) {
  .homeFeature-textWrapper {
    padding-left: 50px;
    padding-top: 80px;
  }
  .homeFeature.overview .homeFeature-img,
  .homeFeature.built-in .homeFeature-img {
    left: 52%;
  }
  .homeFeature.overview .homeFeature-textWrapper,
  .homeFeature.built-in .homeFeature-textWrapper {
    right: 48%;
    padding-left: 0;
    padding-right: 50px;
  }
}
@media(min-width: 1200px) {
  .homeFeature.overview {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .homeFeature.easy {
    padding-top: 110px;
    padding-bottom: 100px;
  }
  .homeFeature.built-in {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .homeFeature-textWrapper {
    padding-left: 100px;
    padding-top: 150px;
  }
  .homeFeature.overview .homeFeature-img,
  .homeFeature.built-in .homeFeature-img {
    left: 52%;
  }
  .homeFeature.overview .homeFeature-textWrapper,
  .homeFeature.built-in .homeFeature-textWrapper {
    right: 48%;
    padding-left: 0;
    padding-right: 100px;
  }
}


/* Home Action
------------------------------------------------------------- */
.homeAction {
  position: relative;
  background-color: #ff6600;
  padding-top: 85px;
  padding-bottom: 85px;
}
.homeAction-textWrapper {
  text-align: center;
}
.homeAction-leadText {
  color: #fff;
  font-size: 1.9rem;
  margin-bottom: 30px;
}
.homeAction-btn {
  color: #4c4c4c;
  background-color: #fff;
  padding: 14px 20px;
  font-size: 24px;
}
@media(min-width: 992px) {
  .homeAction {
    padding-top: 130px;
    padding-bottom: 120px;
  }
}
