/* Desktop Navbar
------------------------------------------------------------- */
#color-bar {
  background-color: #ff6600;
  height: 5px;
}
#navbar-md {
  background-color: #fcfcfc;
  border-bottom: 1px solid #dbdbdb;
}
#navbar-md-brand {
  display: inline;
  width: 280px;
  margin-top: 28px;
  margin-bottom: 10px;
}


/* Main Menu
------------------------------------------------------------- */
.navbar-md-list-wrapper {
  display: block;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 25px;
}
.navbar-md-list {
  list-style-type: none;
  margin-bottom: 0;
}
.navbar-md-list-item {
  font-family: 'Exo 2',  sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  list-style-type: none;
  display: inline-block;
  margin-left: 2rem;
  margin-bottom: 0;
}
.navbar-md-list-item,
.navbar-md-list-item a {
  position: relative;
  color: #4c4c4c;
  text-decoration: none;
}
.navbar-md-list-item a:hover,
.navbar-md-list-item a:focus {
  color: #000;
  text-decoration: none;
}
@media(min-width: 1200px) {
  .navbar-md-list-wrapper {
    margin-right: 30px;
  }
  .navbar-md-list-item {
    font-size: 1.6rem;
    margin-left: 2.5rem;
  }
}
@media(min-width: 1450px) {
  .navbar-md-list-wrapper {
    margin-right: 25px;
  }
}
.navbar-md-list-item a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -6px;
  left: 0;
  background-color: #ff6600;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 50ms ease-in;
  transition: all 50ms ease-in;
}
.navbar-md-list-item a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.navbar-md-list-item.active a {
  color: #2f3437;
}
.navbar-md-list-item.active a:before,
.navbar-md-list-item.active a:hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -6px;
  left: 0;
  background-color: #ddd5cb;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* Subnav
------------------------------------------------------------- */
/* disable underline effect on subnav */ 
a[id^="md-sn-btn-"]:hover:before,
.navbar-md-subnav-item a:hover:before {
  visibility: hidden;
}
.navbar-md-subnav {
  visibility: hidden;
  position: absolute;
  width: 200px;
  top: 45px;
  left: -100px;
  background-color: #fff;
  text-align: center;
  list-style-type: none;
  -webkit-box-shadow: 0px 3px 7px 0px #a5a5a5;
  -moz-box-shadow:    0px 3px 7px 0px #a5a5a5;
  box-shadow:         0px 3px 7px 0px #a5a5a5;
  padding: 20px 10px;
  margin-left: 50%;
  z-index: 10;
}
.navbar-md-subnav-item {
  margin-left: 0;
  background-color: #fff;
  width: 180px;
  padding: 5px;
  font-size: 1rem;
}
.navbar-md-subnav-item:hover {
  background-color: #f9f9f9;
}
.navbar-md-subnav-item a {
  color: #696969;
  display: block;
}
.navbar-md-subnav-item a:hover {
  color: #000;
}
.navbar-md-subnav:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
  z-index: 9999;
}
.navbar-md-subnav-show {
  visibility: visible;
}
.navbar-md-list li:last-child .navbar-md-subnav {
  left: unset;
  right: 0;
}
.navbar-md-list li:last-child .navbar-md-subnav:before {
  left: unset;
  right: 10px;
}
.navbar-md-subnav-extLink {
  width: 13px;
  vertical-align: baseline;
  margin-left: 5px;
}


/* i18n Select
------------------------------------------------------------- */
.navbar-md-i18n {
  position: relative;
  list-style-type: none;
  display: inline-block;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 40px;
}
.navbar-md-i18n:hover {
  cursor: pointer;
}
.navbar-md-i18n-opener {
  display: inline;
}
.navbar-md-i18n-openerLine {
  background-color: #d6d6d6;
  border-radius: 1px;
  width: 2px;
  padding: 1px;
  margin-right: 25px;
}
.navbar-md-i18n-openerIcon {
  width: 22px;
}
.navbar-md-i18n-openerCaret {
  display: inline;
}
.md-sn-itm-language {
  font-size: 0.8rem;
}
.md-sn-subnav-language {
  left: unset;
  right: 0;
}
.md-sn-subnav-language:before {
  left: unset;
  right: 10px;
}
@media(min-width: 1200px) {
  .navbar-md-i18n {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 40px;
  }
  .navbar-md-i18n-openerLine {
    margin-right: 30px;
  }
  .navbar-md-i18n-openerIcon {
    width: 24px;
  }
}
@media(min-width: 1450px) {
  .navbar-md-i18n-openerLine {
    margin-right: 25px;
  }
}
