/* Clearfix
--------------------------------------------*/
.wrapper::after,
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}


/* BG Curves
------------------------------------------------------------- */
.bg-curve {
  position: absolute;
  width: 100%;
  height: 13vw;
}
.bg-curve.top { top: -1px; }
.bg-curve.bottom { bottom: -1px; }
@media (min-width: 550px) {
  .bg-curve { height: 11vw; }
}
@media (min-width: 768px) {
  .bg-curve { height: 10vw; }
}
@media (min-width: 1200px) {
  .bg-curve { height: 9vw; }
}
@media (min-width: 1450px) {
  .bg-curve { height: 6vw; }
}


/* Hero
------------------------------------------------------------- */
.hero {
  position: relative;
  padding-top: 5px;
  padding-bottom: 50px;
}
.hero-img {
  width: 75%;
  max-width: 330px;
  margin: auto;
  margin-bottom: 5px;
}
.hero-textWrapper {
  width: 100%;
  max-width: 420px;
  margin: auto;
  margin-bottom: 0;
}
.hero-leadText {
  color: #707070;
  margin-bottom: 20px;
}
@media (min-width: 450px) {
  .hero {
    padding-top: 10px;
    padding-bottom: 70px;
  }
  .hero-img {
    margin-bottom: 10px;
  }
}
@media (min-width: 650px) {
  .hero {
    padding-top: 20px;
  }
}
@media (min-width: 768px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .hero-img,
  .hero-textWrapper {
    position: relative;
    float: left;
    max-width: unset;
  }
  .hero-img {
    width: 55%;
  }
  .hero-textWrapper {
    width: 45%;
    padding-top: 35px;
    padding-left: 50px;
  }
  .hero.alternate .hero-img {
    left: 45%;
  }
  .hero.alternate .hero-textWrapper {
    right: 55%;
    padding-left: 0;
    padding-right: 50px;
  }
}
@media (min-width: 992px) {
  .hero-img {
    width: 52%;
  }
  .hero-textWrapper {
    width: 48%;
    padding-top: 80px;
  }
  .hero.alternate .hero-img {
    left: 48%;
  }
  .hero.alternate .hero-textWrapper {
    right: 52%;
    padding-left: 0;
    padding-right: 50px;
  }
  .hero-heading {
    margin-bottom: 20px;
  }
  .hero-leadText {
    font-size: 1.2rem;
    margin-bottom: 35px;
  }
  .hero-btn {
    padding: 12px 18px;
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .hero-img {
    width: 49%;
  }
  .hero-textWrapper {
    width: 51%;
    padding-top: 100px;
    padding-left: 100px;
  }
  .hero.alternate .hero-img {
    left: 51%;
  }
  .hero.alternate .hero-textWrapper {
    right: 49%;
    padding-left: 0;
    padding-right: 50px;
  }
}


/* Image Cards
--------------------------------------------*/
.imgCards {
  position: relative;
  background-color: #e1e1e1;
  padding-top: 70px;
  padding-bottom: 35px;
}
.imgCard-wrapper {
  background-color: #fff;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
}
.imgCard-img {
  padding: 0;
}
.imgCard-textWrapper {
  background-color: #fff;
  width: 100%;
  padding: 35px 40px;
}
.imgCard-heading {
  /*  font-size: 1.8rem;*/
  /*  margin-bottom: 15px;*/
}
.imgCard-textWrapper .border {
  background-color: #dbdbdb;
  margin-left: 0;
  margin-bottom: 20px;
}
.imgCard-leadText {
  color: #707070;
  margin-bottom: 20px;
}
.imgCard-mainText {
  margin-bottom: 40px;
}
.imgCard-dimText {
  color: #8a8a8a;
  font-size: 0.9rem;
  margin-bottom: 40px;
}
.imgCard-chart {
  max-width: unset;
  width: 120%;
  margin-left: -10%;
}
@media (min-width: 450px) {
  .imgCards {
    padding-bottom: 40px;
  }
  .imgCard-wrapper {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .imgCard-chart {
    max-width: 100%;
    margin-left: unset;
  }
}
@media (min-width: 768px) {
  .imgCards {
    padding-bottom: 50px;
  }
  .imgCard-wrapper {
    max-width: 600px;
  }
  .imgCard-chart {
    width: 400px;
  }
}
@media (min-width: 992px) {
  .imgCards {
    padding-bottom: 75px;
  }
  .imgCard-wrapper {
    max-width: unset;
    margin-bottom: 70px;
  }
  .imgCard-img,
  .imgCard-textWrapper {
    display: inline-block;
    vertical-align: top;
    position: relative;
  }  
  .imgCard-img {
    width: 60%;
  }  
  .imgCard-textWrapper {
    width: 40%;
    padding-left: 30px;
    padding-right: 20px;
  }
  .imgCard-rightAlign .imgCard-img {
    left: 40%;
  }
  .imgCard-rightAlign .imgCard-textWrapper {
    left: -60%;
    padding-left: 20px;
    padding-right: 30px;
  }
}
@media (min-width: 1200px) {
  .imgCards {
    padding-top: 80px;
  }
  .imgCard-wrapper {
    margin-bottom: 100px;
  }
  .imgCard-textWrapper {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 40px;
  }
  .imgCard-rightAlign .imgCard-textWrapper {
    padding-left: 40px;
    padding-right: 60px;
  }
}
