/* Wallets
------------------------------------------------------------- */
.imgCard-wrapper.coming-soon {
  opacity: 0.4;
}
.walletsDev-heading {
  color: #4c4c4c;
  text-align: center;
  max-width: 380px;
  margin: auto;
  margin-bottom: 80px;
}
