---
title:           Wallets Compatible with CashShuffle
description:     Built into the wallets you already know and love.
path:            wallets/
og_img:          opengraph-default.jpg
wallets:         true
---

<div class="hero alternate">
  <div class="container">
    <img src="{{ svg_dir }}hero-wallets.svg" class="img-responsive hero-img">
    <div class="hero-textWrapper">
      <h1 class="hero-heading">CashShuffle is being built into the wallets you already know and love</h1>
      <p class="hero-leadText">Scroll down to download a wallet that features enhanced privacy via the CashShuffle protocol.</p>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 96" preserveAspectRatio="none" class="bg-curve bottom">
    <path d="M0 90.06V96h700V0c-94.65 33.25-205.31 60.13-324.78 77C238.77 96.26 109.73 99.81 0 90.06z" fill="#e1e1e1" transform="translate(700, 0) scale(-1, 1)" />
  </svg>
</div>
<div class="imgCards">
  <div class="container">
    <div class="imgCard-wrapper imgCard-rightAlign">
      <div class="imgCard-img">
        <img src="{{ img_dir }}wallet-electron.jpg" class="img-responsive" />
      </div><div class="imgCard-textWrapper">
      <h3 class="imgCard-heading">Electron Cash</h3>
      <p class="imgCard-leadText">A lightweight yet powerful Bitcoin Cash thin client.</p>
      <a href="https://electroncash.org/" role="button" class="btn btn-primary" target="_blank">Download Now</a>
      </div>
    </div>
    <h2 class="walletsDev-heading">The wallets below are currently in development</h2>
    <div class="imgCard-wrapper coming-soon">
      <div class="imgCard-img">
        <img src="{{ img_dir }}wallet-bitcoin.jpg" class="img-responsive" />
      </div><div class="imgCard-textWrapper">
      <h3 class="imgCard-heading">Bitcoin.com Wallet</h3>
      <p class="imgCard-leadText">A feature-rich wallet available on mobile and desktop devices.</p>
      <a href="https://wallet.bitcoin.com/" role="button" class="btn btn-primary disabled" target="_blank">Coming Soon</a>
      </div>
    </div>
    <div class="imgCard-wrapper imgCard-rightAlign coming-soon">
      <div class="imgCard-img">
        <img src="{{ img_dir }}wallet-badger.jpg" class="img-responsive" />
      </div><div class="imgCard-textWrapper">
      <h3 class="imgCard-heading">Badger Wallet</h3>
      <p class="imgCard-leadText">A browser-based wallet available for Chrome and Firefox.</p>
      <a href="https://badger.bitcoin.com/" role="button" class="btn btn-primary disabled" target="_blank">Coming Soon</a>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 96" preserveAspectRatio="none" class="bg-curve bottom">
    <path d="M0 90.06V96h700V0c-94.65 33.25-205.31 60.13-324.78 77C238.77 96.26 109.73 99.81 0 90.06z" fill="#909298"/>
  </svg>
</div>
