<div class="i18nModal">
  <div class="i18nModal-content">
    <h1 class="i18nModal-heading">Select Your Language</h1>
    <span class="i18nModal-border"></span>
    <ul class="i18nModal-language">
      <li class="i18nModal-languageBtn">
      {{# if i18n.lang.en }}
        <p>English</p>
      {{ else }}
        <a role="button" href="/{{this.path}}">English</a>
      {{/ if }}
      </li>
      <li class="i18nModal-languageBtn">
      {{# if i18n.lang.ja }}
        <p>日本語</p>
      {{ else }}
        <a role="button" href="/ja/{{this.path}}">日本語</a>
      {{/ if }}
      </li>
      <li class="i18nModal-cancel">
        <a role="button" class="modal-close">Cancel</a>
      </li>
    </ul>
  </div>
</div>
