<div class="i18nModal">
  <div class="i18nModal-content">
    <h1 class="i18nModal-heading">Select Your Language</h1>
    <span class="i18nModal-border"></span>
    <ul class="i18nModal-language">
      <li class="i18nModal-languageBtn">
        <a role="button" href="/">English</a>
      </li>
      <li class="i18nModal-languageBtn">
        <a role="button" href="/ja/">日本語</a>
      </li>
      <li class="i18nModal-cancel">
        <a role="button" class="modal-close">Cancel</a>
      </li>
    </ul>
  </div>
</div>
