<!DOCTYPE html>
<html lang="{{ i18n.lang.code }}" prefix="og: http://ogp.me/ns#">
  <head>
    {{> meta }}
    {{> css }}
    {{> js }}
  </head>
  <body>
    {{> nav }}
    <div class="page-wrap">
      {{> body }}
      {{> footer }}
    </div>
    {{> i18n }}
  </body>
</html>